@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
    --background: #F3F3F3;
    --sidebar-background: rgba(0,0,0,.6);
    --shadow: rgba(0,0,0,.05);

    --font-color-default: #000000;
    --font-color-time: #AAAAAA;
    --font-color-input: #505050;

    --message-background-normal: #FFFFFF;
    --message-background-status: #DCDCDC;
    --message-background-private: #FFDEDE;

    --input-border-color: #D7D7D7;
    --input-font-color: #AEAEAE;

    --button-background: #E7E7E7;
    --button-font-color: #696969;
}

/* || GLOBAL || ===================================================== */

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

button {
    padding: 0px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

ion-icon {
    cursor: pointer;
}

/* || PAGE || ======================================================= */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

/* || LOGIN VIEW || ================================================= */

.login-view {
    position: absolute;
    top:0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.login-view img {
    margin-top: 72px;
    margin-bottom: 94px;
    width: 130px;
}

.login-view__input {
    width: 261px;
    height: 54px;
    text-align: center;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 25px;
}

.login-view__input::placeholder {
    font-style: normal;
    color: var(--input-font-color);
}

.login-view__button {
    width: 109px;
    height: 45px;
    background-color: var(--button-background);
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
    color: var(--button-font-color);
}

/* || SIDEBAR VIEW || =============================================== */

.sidebar-view {
    position: absolute;
    top:0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--sidebar-background);
    z-index: 2;
    display: flex;
    justify-content: flex-end;
}

aside {
    width: 259px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

aside p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    margin-bottom: 23px;
}

aside > div {
    margin-top: 23px;
    width: 100%;
}

li {
    margin-bottom: 8px;
}

.sidebar-view button {
    width: 100%;
    cursor: pointer;
}

.sidebar-view button div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sidebar-view button ion-icon {
    height: 25px;
    width: 25px;
    margin-right: 8px;
}

.sidebar-view button span {
    font-size: 16px;
}


/* || HEADER || ===================================================== */

header {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0px 4px 6px var(--shadow);
    position: fixed;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px;
}

header img {
    width: 75px;
}

header ion-icon {
    width: 54px;
    height: 41px;
}

/* || MAIN || ======================================================= */

main {
    width: 100%;
    height: calc(100vh - 160px);
    margin: 80px 0px;
    padding-top: 26px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* || CHAT || ======================================================= */

.chat-message {
    width: 100%;
    padding: 12px 9px;
    margin-bottom: 4px;
    font-size: 14px;
}

.chat-message__time {
    color: var(--font-color-time);
}

.chat-message__info, .chat-message__text {
    margin-left: 4px;
}

.status {
    background-color: var(--message-background-status);
}

.message {
    background-color: var(--message-background-normal);
}

.private_message {
    background-color: var(--message-background-private);
}

/* || FOOTER || ===================================================== */

footer {
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 18px;
    box-shadow: 0px -4px 6px var(--shadow);
}

footer div {
    width: 89%;
}

input {
    width: 100%;
    line-height: 25px;
    font-size: 18px;
    color: var(--font-color-default);
    border: none;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--font-color-default);
    font-style: italic;
}

.input-info {
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--font-color-input);
}

footer ion-icon {
    width: 31px;
    height: 31px;
}

/* || JS CLASSES || ================================================= */

.hidden {
    display: none;
}